    body {
      margin: 0;
      height: 100%;
      color: white;
      background: linear-gradient(135deg,

          rgb(0, 0, 255) 5%,
          rgb(4, 4, 35) 25%,
          rgb(0, 0, 255) 50%,
          rgb(4, 4, 35) 75%,
          rgb(0, 0, 255) 100%);
    }

    a {
      color: white;
      text-decoration: none;
    }
    a:visited {
      color: white;
      text-decoration: none;
    }