/* Miniaturen Ansicht */
.section_minature {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container_image_minature {
  height: 263px;
  width: 519px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_minature {
  height: 256px;
  width: 512px;
  border-radius: 20px;
  object-fit: cover;
}

.image_minature:hover {
  position: absolute;
  height: 260px;
  width: 518px;
  cursor: pointer;
}


/* Image Dialog General*/
.dialog_image_opened {
  background-color: rgba(55, 55, 55, 0);
  border: solid black 0px;
  scrollbar-width: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dialog_image_hide {
  transform: translateX(1000%);
}

.dialog_image_opened::backdrop {
  background-color: rgba(55, 55, 55, 0.94);
}

/* Image Dialog Header */
.header_full_image {
  background-color: rgba(255, 255, 255, 0.512);
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.navigator_counter {
  background-color: rgba(255, 255, 255, 0.8);
  width: 60px;
  display: flex;
  justify-content: center;
}

/* Image Dialog Main */
.container_image {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image_opened {
  height: 700px;
  min-width: 700px;
  max-width: 700px;
  border-radius: 10px;
  object-fit: cover;
}

.button_slide {
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  height: 30px;
  width: 30px;
  border: solid black 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_slide:hover {
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}

/* Image Dialog Footer */
.footer_image_navigator {
  width: 700px;
  display: flex;
  justify-content: center;
}

.footer_image_navigator h3 {
  background-color: rgba(255, 255, 255, 0.512);
  margin: 0;
  width: 700px;
  text-align: center;
}


/* Responsive */
@media (max-width: 830px) {
  .header_full_image {
    width: 250px;
  }

  .container_image {
    width: 300px;
  }

  .image_opened {
    height: 300px;
    min-width: 250px;
    max-width: 250px;
  }

  .button_slide {
    font-size: 16px;
    height: 20px;
    width: 20px;
  }

  .footer_image_navigator {
    width: 250px;
  }

  .footer_image_navigator h3 {
    font-size: 14px;
    width: 300px;
  }
}

@media (max-width: 530px) {
  .image_minature {
    height: 128px;
    width: 256px;
  }

  .container_image_minature {
    height: 131px;
    width: 259px;
  }

  .image_minature:hover {
    height: 130px;
    width: 258px;
  }
}
